@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.container{
    min-height: 100vh;
    width: 100%;
    background-color: #0f0d0d;
}

.header{
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    z-index: 99;
    position: relative;
    border-bottom: 0.02px solid rgba(128, 128, 128, 0.2);
}

.logo{
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.logo a{
    color: #fff;
    transition: .6s;
    font-style: 1.5rem;
}

.logo a:hover{
    color: #28df99;
}

.logo a :hover span{
    color: #fff;
}

.logo a span{
    color: #28df99;
}
.header ul li{
    display: inline-block;

}

.header ul li a{
    margin: 0 25px;
    color: #fff;
    font-size: 1.1rem;
    /* font-weight: 500;
    padding: 0 20px; */
    transition: .6s;
    position: relative;
}

.header ul li:hover a{
    color: #28df99;
    text-decoration: 0 0 10px #99f3b9;
}

.header .fa-bars{
    font-size: 1.3rem;
    display: none;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    background-color: #28df99;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about, .about-wrapper, .skills-wrapper{
    background-color: #101010;

}
.about-wrapper{
    margin: 0;
    padding: 0;
}
.hero{
    width: 1500px;
    padding: 100px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.about{
    width: 1500px;
    height: 500px;
    padding: 10px 50px;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.hero .content,
.about .content{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero .content h4,
.about .content h4{
    letter-spacing: 1px;
    font-weight: 30;
    color: #28df99;
    letter-spacing: 6px;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;

}

.hero .content h2{
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1rem;
    margin: 10px 0;
    width: 80%;
    color: rgba(225, 225, 225, 0.8);
}

.hero .content h2 span{
    text-transform: uppercase;
    color: #28df99;
}
.hero .content h1,
.about .content h1{
    font-size: 4rem;
    letter-spacing: 1px;
    line-height: 5rem;
    margin: 10px 0;
    font-weight: 600;
    width: 80%;
    color: rgba(225, 225, 225, 0.8);
}

.hero .content h1 span{
    color: #28df99;
}

.hero .content a,
.about .content a{
    background-color: #878787;
    margin: 10px 0;
    width: 80%;
}

.hero .image-wrapper,
.about .image-wrapper{
    height: 100px;
    width: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#heroimg{
    width: 440px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.8));
    display: block;
    height: auto;
}

#circle{
    position: relative;
    bottom: 0;
    transform: translateZ(-50%);
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
    border: 3px solid #9af0cf;
}
button{
    height: 40px;
    width: 135px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #28df99;
    border: 1px solid #28df99;
    box-shadow: 0 0 10px #99f3bd;
    margin-top: 20px;
    transition: .6s;
}
button:hover{
    box-shadow: 0 0 5px #28df99;
}
.social{
    display: flex;
    gap: 14px;
    align-items: center;
    margin-bottom: 2px;
    /* justify-content: center; */
}

.social i{
    padding: 9px;
    background-color: #28df99;
    border-radius: 5px;
    border: 0.5px solid #28df99;
    box-shadow: 0 0 5px #28df99;
    transition: .6s;
    cursor: pointer;
}
.social i:hover{
    box-shadow: 0px 0px 10px #99f3bd;
}

.section_heading{
    font-size: 50px;
    letter-spacing: 1px;
}
.section_title{
    font-size: 12px;
    color: #28df99;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.services,
.project{
    width: 1500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 100px 0%;
    color: #fff;
}
.service_cards,
.project_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-items: center;
    margin-top: 50px;
}

.service_cards .service_card{
    background-color: rgba(188, 248, 212, 0.02);
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 400px;
    padding: 10% 20px;
    border-radius: 10px;
    gap: 12px;
    align-items: center;
    text-align: center;
    border: 0.2px solid rgba(188, 248, 212, 0.2);
}

.service_cards .service_card:hover{
    border-color: rgba(188, 248, 212, 0.02);
    background-color: rgba(188, 248, 212, 0.08);
}

.service_cards .service_card > div{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.2);
    position: relative;
}

.service_cards .service_card:hover > div{
    border-color: #28df99;
}

.service_cards .service_card > div i{
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1.5s;
}

.service_cards .service_card:hover > div i{
    color: #28df99;
}

.service_cards .service_card p{
    color: rgba(128,128,128,0.08);
}

.service_cards .service_card button{
    height: 55px;
}
.skills{
    width: 1500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 140px 0%;
}
.skills_wrapper{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.technical_skills{
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: #fff;
    width: 50%;
    margin-top: 80px;
}

.skills .section_title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills .section_heading{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.technical_skills h3{
    font-size: 26px;
}
.technical_skills .skils{
    display: flex;
    gap: 50px;
    flex-direction: column;
}
.technical_skills .skils h3{
    font-size: 16px;
}

.technical_skills .skils h3 span{
    color: #28df99;
}
.technical_skills .skils .line{
    height: 8px;
    border-radius: 5px;
    position: relative;
    margin-top: 30px;
    width: 100%;
    background: rgba(225, 225, 225, 0.2);
}
.technical_skills .skils .line::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 50%;
    background: rgba(40,223,153,1);
    top: 0;
    left: 0;
    border-radius: 5px;
}

.technical_skills .skils .HTML .line::after{
    width: 90%;
}
.technical_skills .skils .CSS3 .line::after{
    width: 80%;
}
.technical_skills .skils .Javascript .line::after{
    width: 70%;
}
.technical_skills .skils .REACT .line::after{
    width: 32%;
}
.project{
    background-color: #0f0d0d;
}
.project_cards{
    gap: 30px;
}
.project_cards .project_card{
    width: 100%;
    height: 380px;
    border: 1xp solid #28df99;
    box-shadow: 0 0 12px #99f3bd;
    transform: .6s;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.project_cards .project_card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: .6s;
}
.project_cards .project_card:hover::after{
    opacity: 1;
}
.project_cards .project_card img{
    width: 100%;
    border-radius: 5px;
    height: 100%;
    transform: .6s;
}
.project_cards .project_card p{
    position: absolute;
    bottom: 30px;
    right: -18px;
    padding: 5px 20px;
    width: 120px;
    background-color: rgba(40,223,153,1);
    border: 2px solid #28df99;
    transform-origin: right;
    transition: .6s;
    transform: rotate(100deg);
    color: #000;
    z-index: 5;
    font-weight: 500;
}

.project_cards .project_card:hover p{
    transform: rotate(0deg);
}
.project_cards .project_card:hover ing{
    transform: scale(1.1);
}
.top-container{
    min-height: 30vh;
    width: 100%;
    background: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 35%;
    color: #fff;
    font-family: 'karma';
    border-bottom: 0.5px solid #28df99;
}

.top-container h1{
    margin-bottom: 6px;
    letter-spacing: 1px;
    font-size: 40px;
}
.top-container p{
    width: 60%;
    text-align: center;
}
.bottom-container{
    display: flex;
    justify-content: space-between;
    padding: 4% 8%;
    min-height: 70vh;
    width: 100%;
    background-color: #1c1c1c;
}
.bottom-container .contact{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 30%;
    height: 100%;
}
.bottom-container .image{
    height: 350px;
    width: 350px;
    margin-top: -180px;
}
.bottom-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.bottom-container .contact h4{
    color: rgba(225, 225, 225, 0.8);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
}
.bottom-container .contact h3{
    color: rgba(225, 225, 225, 1);
    letter-spacing: 1px;
}
.bottom-container .form{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 0 2%;
}
.box-wrapper{
    display: flex;
    width: 100%;
    gap: 12px;
}
.box{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
label{
    color: #fff;
}
input,textarea{
    height: 42px;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(225, 225, 225, 0.02);
    padding-left: 12px !important;
    border: 1px solid rgba(225, 225, 225, 0.4);
    outline: none;
    color: #fff;
}
input,textarea:focus{
    border-color: #99f3bd;
}
textarea{
    height: 200px;
    padding-top: 5px;
}
.contact-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer p{
    text-align: center;
    color: rgba(225, 225, 225, 0.4);
}

/* Scroll To Top Button */
#myBtn {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 60px;
    width: 60px;
    display: none;
    place-items: center;
    border-radius: 50%;
    transition: opacity 0.3s, background-color 0.3s;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.3),
                inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
                inset 4px 4px 6px 0 rgba(97, 96, 96, 0.2);
    cursor: pointer;
}

#myBtn:hover{
    opacity: 1;
    background-color: #91f0c0;
    animation: animate 1s linear infinite;
}
@keyframes animate{
    50%{
        transform: translateY(3px);
    }
}